$colorFondo:rgb(229, 229, 229);
$colorExtra: #0f9150;
$colorbasic:rgb(0, 0, 0);
$margenes:3rem;
$medida1:30px;
$tamano:10px;
$responsive:1vw;

@mixin titulos{
    padding-top: $tamano;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: $responsive;
	text-align: center;
	margin: auto;
	padding: $tamano;
}



body{ margin:$margenes;background-color: $colorFondo;}

h1{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-shadow: 2px 2px 8px $colorExtra;}

h2 {@include titulos;}
#keyimage {
    
    animation: slideleft 5s ease forwards infinite;
    animation-name: slide;
}
  
@keyframes slide {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
}

  
#canvasimage{
    width: 450px;
    height: 300px;
}
  
#myCanvas {
    width: 500px;
    height: 350px;
    border:2px solid $colorbasic;
}

#imgReflejo {
    -webkit-box-reflect: right;
    opacity: 0.7;
}
  
#imgReverse {
    border-radius: 50%;

}
  
#imgReverse:hover {
    transform: scaleX(-1);
}

.licencias {
   
    width: 30%;
    height:$medida1 ;
    margin: auto;
    margin-top: 20px;
    background: $colorExtra;
    border-radius: $medida1;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .boton > a {
    font-size: 20px;
    line-height:27px;
    color: $colorbasic;
    text-decoration: none;
    
  }
  .licencias a:hover {
    font-weight: bolder;
    color: #ffffff;
  }

/*Pie de página*/
footer {
    clear: both;
    line-height:$medida1;
    color:$colorbasic;
    text-align:center;
    width:100%;
    height:20px;
    margin-top: 50px;
    
}